{% extends 'admin/index.html.twig' %}

{% block admin %}

<section class="section">
    <h1 class="title">Editer une catégorie</h1>
    {% include "admin/admin_category/_categoryform.html.twig" with {button: 'Editer'} %}

</section>

{% endblock %}
