{% extends 'admin/index.html.twig' %}

{% block body %}

<section class="container is-fluid">

    <div class="columns is-centered" style="padding: 2em 0;">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{category.id}} </td>
                        <td>{{category.name}} </td>
                        <td>buttons</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</section>
{% endblock %}