{% extends 'admin/index.html.twig' %}

{% block admin %}

<section class="section">
    <h1 class="title">Créer une catégorie</h1>
    {% include "admin/admin_category/_categoryform.html.twig" with {button: 'Créer'} %}

</section>

{% endblock %}
