<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0,user-scalable=yes">

        <title>Matthieu Caballero - Développeur web{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/bulma.css">
        <link rel="stylesheet" href="/style.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block header %}{% endblock %}
        {% block body %}{% endblock %}


        <footer class="footer is-marginless">
            <div class="content has-text-centered">
              <p>
                <strong>Matthieu Caballero</strong> - Développeur web
              </p>
            </div>
          </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
